.assetContainer {
  border: 1px solid black;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  min-width: 400px;
}

.assetContainer:hover {
  cursor: pointer;
}

.assetContainer:last-child {
  margin-bottom: 10px;
}

.assetContainer div:first-child {
  padding-left: 10px;
}
.assetContainer div:last-child {
  padding-right: 10px;
}
.assetContainer div {
  line-height: 0;
}

.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.priceSlider {
  display: inline-block;
  height: 6px;
  min-width: 30px;
  background-color: gray;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}
.tickerListLabel {
  color: #afaeae;
}
.averagePrice {
  min-width: 200px;
}