.filter-container {
  float: right;
  display: inline-block;
  width: 100%;
  text-align: right;
}

.filter-label {
  display: inline;
  position: relative;
  margin-right: 6px;
  color: #afaeae;
  font-size: 10px;
  position: relative;
  top: 31px;
}

.filter-dropdown {
  float: right;
  display: inline;
  border: 1px solid black;
  background: none;
  background-color: none;
  font-size: 22px;
  width: 9rem;
  position: relative;
  top: 28px;
  margin-right: 40px;
}

.statusHeader {
  padding-left: 40px;
  float: left;
}