.headerContainer {
  background-color: #00d28a;
  min-width: 400px;
}

.headerContainer .searchBar, .headerContainer .tickerHeader {
  display: inline-block;
  vertical-align: middle;
}

.tickerHeader {
  padding-left: 20px;
}

.searchBar {
  margin-left: 25%;
}

.searchBar input {
  background-color: none;
  opacity: 0.4;
  border: none;
  height: 30px;
  width: 212px;
  font-size: 16px;
  color: black;
}
.searchBar ::placeholder {
  color: black;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
}